<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<false/>
		<key>DSDT</key>
		<dict>
			<key>DropOEM_DSM</key>
			<true/>
			<key>Fixes</key>
			<dict>
				<key>DeleteUnused</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<false/>
		<key>RenameDevices</key>
		<dict>
			<key>_SB.PCI0.SAT0</key>
			<string>SATA</string>
			<key>_SB.PCI0.SATA.CHN0</key>
			<string>PRT0</string>
			<key>_SB.PCI0.SATA.CHN1</key>
			<string>PRT1</string>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<false/>
			</dict>
		</dict>
		<key>smartUPS</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>npci=0x2000</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Timeout</key>
		<integer>3</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>LANInjection</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Recovery</string>
			<string>Preboot</string>
			<string>Windows</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>RoG</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
		</dict>
		<key>LoadVBios</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>AppleRTC</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext\Contents\PlugIns\Intel82574L.kext</string>
		</array>
		<key>KernelPm</key>
		<false/>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Remove IOPCISecondaryMatch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SU9QQ0lTZWNvbmRhcnlNYXRjaA==
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>Intel82574L</string>
				<key>Replace</key>
				<data>
				SURPTk9Ud2FudHRvbG9hZHRoaQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB 10.14+ by Pavo</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/sPD4MDBQAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14</string>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				Zg8fhAAAAAAA
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>04/11/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MP61.88Z.0124.B00.1804111223</string>
		<key>Board-ID</key>
		<string>Mac-F60DEB81FF30ACF6</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>F5K434802GUFF4JAD</string>
		<key>BoardType</key>
		<integer>11</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>Pro-Enclosure</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x02</string>
		<key>Family</key>
		<string>MacPro</string>
		<key>FirmwareFeatures</key>
		<string>0xE80FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0x04</string>
		<key>ProductName</key>
		<string>MacPro6,1</string>
		<key>SerialNumber</key>
		<string>F5KN82HFF9VM</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
